*{
    margin: 0;
    padding: 0;
}
.w3-bar img{
    float: left;
    width: 35px;
}
.header{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.header img{
    width: 100px;
}
.header-buttons a{
    text-decoration: none;
    border: 1px solid black;
    border-radius: 100px;
    margin: 0 10px;
    padding: 12px 35px;
    outline: none;
    color: black;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
}
.header-buttons a:hover{
    color: white;
    background: black;
    text-decoration: none;
    box-shadow: 0 0 200px 0 rgba()0,0,0,0.3;
}

@media only screen and (max-device-width: 1600px) {
    .header{
      background-attachment: scroll;
      min-height: 400px;
    }
}
